[submodule "rocketchip"]
	path = rocketchip
	url = https://github.com/chipsalliance/rocket-chip/
[submodule "config"]
	path = config
	url = https://github.com/chipsalliance/api-config-chipsalliance
[submodule "blocks"]
	path = blocks
	url = https://github.com/sifive/sifive-blocks
[submodule "inclusivecache"]
	path = inclusivecache
	url = https://github.com/sifive/block-inclusivecache-sifive
[submodule "shells"]
	path = shells
	url = https://github.com/sifive/fpga-shells
[submodule "testsocket"]
	path = testsocket
	url = https://github.com/sifive/soc-testsocket-sifive
[submodule "nvdla"]
	path = nvdla
	url = https://github.com/sifive/block-nvdla-sifive/
[submodule "freedom"]
	path = freedom
	url = https://github.com/sifive/freedom
[submodule "playground/debugger/opensbi"]
	path = playground/debugger/opensbi
	url = https://github.com/riscv/opensbi
[submodule "chiseltest"]
	path = chiseltest
	url = https://github.com/ucb-bar/chisel-testers2
[submodule "chisel3"]
	path = chisel3
	url = https://github.com/ucb-bar/chisel3
[submodule "firrtl"]
	path = firrtl
	url = https://github.com/ucb-bar/firrtl
[submodule "treadle"]
	path = treadle
	url = https://github.com/freechipsproject/treadle
[submodule "sodor"]
	path = sodor
	url = https://github.com/sequencer/sodor
[submodule "hardfloat"]
	path = hardfloat
	url = https://github.com/ucb-bar/berkeley-hardfloat
